In [1]:
strVal = 'data science'
nVal = 12345             
fVal = 1.2                        
lVal = ['data', 'science']
dVal = {'lecture' : 'data science'}
bVal = True

In [2]:
strVal

'data science'

In [3]:
nVal

12345

In [5]:
fVal

1.2

In [6]:
lVal

['data', 'science']

In [7]:
dVal

{'lecture': 'data science'}

In [8]:
bVal

True

In [9]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

strVal :  data science
nVal :  12345
fVal :  1.2
lVal :  ['data', 'science']
dVal :  {'lecture': 'data science'}
bVal :  True

In [10]:
nVal = 16
fVal = 3.14

In [11]:
print('10진수 표현 : ', nVal)
print('2진수 표현 : ', bin(nVal))
print('8진수 표현 : ', oct(nVal))
print('16진수 표현 : ', hex(nVal))

10진수 표현 :  16
2진수 표현 :  0b10000
8진수 표현 :  0o20
16진수 표현 :  0x10

In [12]:
btVal = True
bfVal = False

In [13]:
btVal = TRUE
bfVal = FALSE

NameError: name 'TRUE' is not defined

In [14]:
btVal = trued
bfVal = false

NameError: name 'true' is not defined

In [15]:
10 == 11

False

In [16]:
10 != 11

True

In [17]:
10 >= 11

False

In [18]:
10 <= 11

True

In [19]:
10 > 11

False

In [20]:
10 < 11

True

In [21]:
nBig = 100
nSmall = 10

In [22]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

False
True
True
False
True
False

In [23]:
print(nBig =< nSmall)

SyntaxError: invalid syntax (Temp/ipykernel_6808/2189819302.py, line 1)

In [24]:
print(nBig => nSmall)

SyntaxError: invalid syntax (Temp/ipykernel_6808/4185127180.py, line 1)

In [25]:
strData = 'data'
strSci = "Science"

In [26]:
strLecture = strData + strSci

In [27]:
strLecture = strData +" "+ strSci
strLecture

'data Science'

In [28]:
strLecture.split()

['data', 'Science']

In [29]:
lSeperate = strLecture.split()

In [30]:
type(lSeperate)

list

In [31]:
strHello = "안녕하세요. 반갑습니다."

In [ ]:
strHello.find("반갑")

In [ ]:
strHello.find("hello")

In [ ]:
"반갑" in strHello

In [ ]:
strHello.replace('.', '?')

In [ ]:
strHello.replace('.', '?')         
strHello.replace("하세요", "하셔유")

In [ ]:
strHello

In [4]:
strNewHello = strHello.replace('.', '?')
strNewHello = strNewHello.replace("하세요", "하셔유")
strNewHello

NameError: name 'strHello' is not defined

In [ ]:
strHello.strip('반갑습니다.')

In [ ]:
strHello

In [ ]:
lnData = [1,2,3,4,5]
print(lnData)
print('type : ', type(lnData))

In [ ]:
print(lnData[0]
print(lnData[3])

In [ ]:
lnData[0] = lnData[4]
print(lnData)

In [ ]:
print(lnData[2:4])

In [ ]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']
lnData + lstrData

In [ ]:
lnData.append(10)
lnData

In [ ]:
lnData.insert(0, 'python')
lnData

In [ ]:
lnData.remove('python')
lnData

In [ ]:
del lnData[5]
lnData

In [ ]:
lnData

In [ ]:
lnData.pop(0)
lnData

In [ ]:
lnData.pop()
lnData

In [ ]:
lnData.clear()
lnData

In [ ]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

In [ ]:
# 튜플에 저장된 데이터는 변경이 불가능 오류
tVal[0] = "포도

In [ ]:
# count() 함수를 이용하여 튜플에 저장된 특정 데이터의 개수를 확인
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

In [ ]:
# len()함수를 이용하여 튜플에 저장된 전체 데이터 개수를 확인
len(tVal)

In [ ]:
len(tData)

In [ ]:
print(tData[2:5])

In [ ]:
tTuple = tVal+ tData
print(tTuple)

In [ ]:
tData * 2

In [ ]:
tData

In [ ]:
tData2 = tData * 2
print(tData2)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

In [ ]:
# 오류
sVal[1:2]

In [ ]:
# add 함수를 이용하여 데이터를 추가할 수 있음
sVal.add(100)
print(sVal)

In [ ]:
# update 함수를 이용하여 여러개의 데이터를 추가할 수 있음
sVal.update([200, 300])
print(sVal)

In [ ]:
# remove 함수를 이용하여 데이터를 삭제할 수 있음 오류
sVal.remove(200)
print(sVal)

In [ ]:
# clear() 함수를 이용하여 데이터를 초기화 할 수 있음
sVal.clear()
print(sVal)

In [ ]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

In [ ]:
# intersection() 함수를 이용하여 교집합을 만들 수 있음
sVal.intersection(sData)

In [ ]:
# deference() 함수를 이용하여 차집합을 만들 수 있음
sVal.difference(sData)

In [ ]:
# "-" 연산자로도 가능
sVal - sData

In [ ]:
# union() 함수를 이용하여 합집합을 만들 수 있음
sVal.union(sData)

In [ ]:
# "+"연산자는 불가능 오류
sVal + sData

In [ ]:
# symetric_difference()를 이용하여 합집합에서 교집합을 뺀 집합을 만들 수 있음
sVal.symmetric_difference(sData)

In [ ]:
# 딕셔너리 기본 구조는 다음과 같이 표현할 수 있음
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

In [ ]:
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [ ]:
# 키를 이용한 항목 검색
print(dData["배"])

In [ ]:
# get() 함수를 이용한 항목 검색
dData.get("배")

In [ ]:
# 새로운 키 추가를 통한 항목 추가
dData["딸기"] = 100
print(dData)

In [ ]:
# pop을 이용한 항목 삭제
dData.pop("사과")

In [ ]:
dData

In [ ]:
#오류
dData.pop()

In [ ]:
# sorted 함수를 이용한 정렬
sorted(dData)

In [ ]:
# sorted와 values 함수를 이용하여 값을 정렬할 수 있음
sorted(dData.values())

In [ ]:
# 실제 dData는 변화가 없음
dData

In [ ]:
# 함수 f(x)를 생성하고 x 값을 입력으로 받음
def f(x):
  # x에 10을 더한 값을 출력
  return x + 10

In [ ]:
f(2)

In [ ]:
#4주차 넘파이와 판다스

In [1]:
# 내장함수 예 : input
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

아무 문장이나 입력하세요 :

In [ ]:
# List를 이용한 다차원 배열
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]  # 실수 list를 생성

In [ ]:
# flVal 3개를 리스트로 구성하여 arVal 다차원 배열을 생성
arVal = [flVal, flVal, flVal]
arVal

In [ ]:
# arVal은 다차원 배열이므로, arVal[n] 인덱스 연산을 통해 n차원 배열 값을 출력
arVal[0]

In [ ]:
arVal[1]

In [ ]:
arVal[1][2]

In [ ]:
# 1 차원 값을 변환하여 다른 값을 대입 했을때의 다차원 배열
arVal[0] = 'python'
arVal

In [ ]:
arVal[0][2]

In [ ]:
arVal[0] = 'python programming'
arVal

In [ ]:
# numpy 패치지를 import 
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

In [ ]:
# 배열 각 요소의 합을 출력
arData.sum()

In [ ]:
#오류코드
arVal.sum()

In [ ]:
print(type(arVal))
print(type(arData))

In [ ]:
# 배열에 대한 표준편차 출력
arData.std()

In [ ]:
# 배열의 누적 합을 출력
arData.cumsum()

In [ ]:
arData * 2

In [ ]:
arData ** 2 # 2를 제곱

In [ ]:
# 루트를 적용한 값을 출력
np.sqrt(arData)

In [ ]:
arVal = np.array([arData, arData ** 2])
arVal

In [ ]:
arVal.sum(axis=0) # 축(axis)이 0일 경우 세로 축의 합을 출력

In [ ]:
arVal.sum(axis=1) # 축(axis)이 0일 경우 가로 축의 합을 출력

In [ ]:
# NumPy.array를 사용한 코드
np.array([[0,0,0],[0,0,0]])

In [ ]:
# NumPy.zeros를 사용한 코드
arZero = np.zeros((2,3), dtype = 'i') 
arZero

In [ ]:
# pandas import
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index=['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

In [ ]:
pandas_series[1:]

In [ ]:
pandas_series[0]

In [ ]:
#오류
pandas_series[0][1]

In [ ]:
df = pd.DataFrame([30,20,10], columns=['score'], index=['국어', '영어', '수학'])
df

In [ ]:
# DataFrame의 index를 표시
df.index

In [ ]:
# DataFrame의 column을 표시
df.columns

In [ ]:
# DataFrame의index 중에서 국어에 해당하는 값을 출력
df.loc['국어']   # ix 함수가 최근 제거되어 loc를 써야 동작

In [ ]:
# DataFrame의 값을 모두 합한 결과를 출력
df.sum()

In [ ]:
# DataFrame의 각 colimn 값의 제곱을 출력
df.score ** 2

In [ ]:
# DataFrame에 score2 라는 칼럼을 추가하고 값을 입력
df['score2'] = (50, 50, 50)
df

In [ ]:
# DataFrame 함수를 이용하여 column을 추가할 수 있음
df['score2'] = pd.DataFrame([90,90,90], index=['국어', '영어', '수학'])
d

In [ ]:
# column 삭제
del df['score']

In [ ]:
# index 를 맞추기 않았을 경우 
df['score2'] = (90, 90, 90, 100)

In [ ]:
# index 를 맞추기 않았을 경우
df['score2'] = pd.DataFrame([90, 90, 90, 100], index=['국어', '영어', '수학', '윤리'])
df

In [ ]:
# join() 함수를 이용하여 2개의 DataFrame을 하나로 합칠 수 있음
df1 = pd.DataFrame([1, 2, 3], columns = ['A'])
df2 = pd.DataFrame([10, 11, 12, 13], columns = ['B'])

df = df1.join(df2, how='outer')
df

In [ ]:
df_inner = df1.join(df2, how='inner')
df_inner

In [ ]:
# 난수를 이용한 임의의 값 생성
df = pd.DataFrame(np.random.randn(5,5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

In [ ]:
# 최대값
df.max()

In [ ]:
# 최소값
df.min()

In [ ]:
# 평균
df.mean()

In [ ]:
# 표준편차
df.std()

In [ ]:
# 누적값
df.cumsum()

In [ ]:
# DataFrame의 통계적 요약
df.describe()

In [ ]:
# Group by를 이용한 DataFrame의 그룹화
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

In [ ]:
df.groupby(['division']).mean()

In [ ]:
#5주차 데이터프레임

In [ ]:
import pandas as pd

sr = pd.Series([100, 200, 300, 400])
sr.index = ['A', 'B', 'O', 'AB']
sr

In [ ]:
sr1 = pd.Series([10, 20, 30])
sr1

In [ ]:
df = pd.DataFrame({'키':[170, 180, 175], '몸무게':[65, 78, 70]})
df.index = ['스파이더맨', '닥터스트레인지', '아이언맨']
df

In [ ]:
df = pd.read_csv('scores.csv', encoding='cp949')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(3)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
df.isnull().sum()

In [ ]:
df_dropna = df.dropna()
df_dropna

In [ ]:
df_fillna = df.fillna(50)
df_fillna

In [ ]:
df.describe()

In [ ]:
df['국어'].sum()

In [ ]:
df.value_counts('영어')

In [ ]:
df['국어']

In [ ]:
df[['국어', '영어']]

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1,2,3]]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[2:5]

In [ ]:
# 시퀀스가 아니라 인덱스로 추출
df.loc[2:5]

In [ ]:
df

In [ ]:
df.iloc[1,3]

In [ ]:
df.iloc[1:3, 1:3]

In [ ]:
#6주차 visualization

In [ ]:
#6주차 visualization

In [ ]:
# 한글 폰트 처리 : 런타임 다시 시작 필요
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [ ]:
# matplotlib 한글폰트 지정
plt.rc('font', family='NanumBarunGothic')

# - 기호 깨짐 오류 방지
plt.rc('axes', unicode_minus = False)

In [ ]:
# x측
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

# 그래프
plt.plot(x,y)
plt.show()

In [ ]:
# x측
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

# 그래프
plt.plot(x,y, color="blue", marker = 'o', linestyle = ':')
plt.title('월별 평균 온도', fontsize=15)
plt.ylabel('온도(도)')
plt.grid(linestyle = ':')
plt.show()

In [ ]:
# 40개의 임의의 랜덤값을 생성
aVal = np.random.standard_normal(40)
aVal

In [ ]:
# type 확인
# 40개의 랜덤값으로 이루어진 numpy.ndarray형 변수
type(aVal)

In [ ]:
index = range(len(aVal))
plt.plot(index, aVal)

# x축, y축의 범위 설정
plt.xlim(0, 20)
plt.ylim(np.min(aVal) -1, np.max(aVal) + 1)
plt.show()

In [ ]:
# index는 range 형 변수
type(index)

In [ ]:
plt.figure(figsize=(7,4))
plt.plot(aVal.cumsum(), 'b', lw= 1.5)
plt.plot(aVal.cumsum(), 'ro')
plt.xlabel('index')
plt.ylabel('aVal')
plt.title('Line Plot')
plt.show()

In [ ]:
value = np.random.standard_normal((30, 2))
value

In [ ]:
value[0]

In [ ]:
plt.figure(figsize=(10,4))
plt.plot(value[:,0], lw= 1.5)
plt.plot(value[:,1], lw= 1.5)
plt.plot(value, 'ro')
plt.grid(True)
# plt.legend(loc=0)
plt.xlabel('index')
plt.ylabel('value')
plt.title('Line Plot')

In [ ]:
# 1번째
plt.figure(figsize=(10,5))
plt.subplot(211)
plt.plot(value[:,0], lw = 1.5, label = '1st')
plt.plot(value[:,0], 'ro')
plt.grid(True)
plt.legend(loc = 0)
plt.ylabel("value")
plt.title('Line Plot 3')
# 2번째
plt.subplot(212)
plt.plot(value[:,1], 'g', lw = 1.5, label = '2nd')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')

In [ ]:
# 1번째
plt.figure(figsize=(13,5))
plt.subplot(231)
plt.plot(value[:,0], lw= 1.5, label = '1st')
plt.plot(value[:,0], 'co')
plt.grid(True)
plt.legend(loc=0)
plt.ylabel('value')
plt.title('Line Plot 3')
# 2번째
plt.subplot(232)
plt.plot(value[:,0], 'g-.', lw=1.5, label='1st')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')
# 3번째
plt.subplot(233)
plt.plot(value[:,0], 'g', lw=1.5, label='1st')
plt.plot(value[:,0], 'bD')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')
# 4번째
plt.subplot(234)
plt.plot(value[:,1], '*', lw=1.5, label='2nd')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')
# 5번째
plt.subplot(235)
plt.plot(value[:,1], 'b', lw=1.5, label='2nd')
plt.plot(value[:,1], 'ms')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')
# 6번째
plt.subplot(236)
plt.plot(value[:,1], 'r--', lw=1.5, label='2nd')
plt.grid(True)
plt.legend(loc=0)
plt.axis('tight')
plt.ylabel('value')

In [ ]:
# x측
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

# 그래프
plt.bar(x,y)
plt.show()

In [ ]:
# x측
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

# 그래프
plt.barh(x,y)
plt.show()

In [ ]:
# x측
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

# 그래프
plt.bar(x,y, color="orange", width = 0.5, edgecolor = 'black', hatch = '/')
plt.title('월별 평균 온도', fontsize=15)
plt.ylabel('온도(도)')
plt.grid(linestyle = ':', axis = 'y')
plt.show()

In [ ]:
# pandas를 import
import pandas as pd

# score.csv 파일 일기
df = pd.read_csv('scores.csv', encoding='cp949')
df

In [ ]:
x = df['이름']
y_kor = df['국어']

plt.bar(x, y_kor)
plt.show()

In [ ]:
x = df['이름']
y_kor = df['국어']
y_eng = df['영어']

# 중심을 기준으로 왼쪽/오른쪽에 그래프를 구성
plt.bar(x, y_kor, width = -0.4, align = 'edge', label = '국어')
plt.bar(x, y_eng, width = 0.4, align = 'edge', label = '영어')
plt.title('국어/영어 점수 비교', fontsize = 15)
plt.ylabel('점수')

# 범례
plt.legend() 
plt.show()

In [ ]:
value = np.random.standard_normal((500,2))
plt.plot(value[:,0], value[:,1], 'ro')
plt.grid(False)
plt.xlabel('value 1')
plt.ylabel('value 2')
plt.title('Scatter Plot 1')

In [ ]:
plt.figure(figsize=(7,5))
plt.scatter(value[:,0], value[:,1], marker='o')
plt.grid(True)
plt.xlabel('value 1')
plt.ylabel('value 2')
plt.title('Scatter Plot 2')

In [ ]:
color = np.random.randint(0,10,len(value))

plt.figure(figsize=(10,5))
plt.scatter(value[:,0], value[:,1], c=color, marker = 'o')
plt.colorbar()
plt.xlabel('value 1')
plt.ylabel('value 2')
plt.title('Scatter Plot 3')

In [ ]:
import seaborn as sns
df = sns.load_dataset('tips')
df

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
x = df['total_bill']
y = df['tip']

sns.scatterplot(x,y)

In [ ]:
sns.boxplot(x="day", y = "tip", hue="sex", data=df, palette="muted")

In [ ]:
#7주차 data analysis

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline    

iris = sns.load_dataset('iris')
iris

In [ ]:
iris.groupby('species').size()

In [ ]:
iris.describe()

In [ ]:
type(iris)

In [ ]:
# seaborn
sns.pairplot(iris)
plt.title("Iris Data Analysis")

In [ ]:
# kde plot을 적용
sns.pairplot(iris, hue="species", diag_kind='kde')

In [ ]:
sns.boxplot(x='species', y="petal_length", data=iris)

In [ ]:
sns.boxplot(x='species', y="petal_width", data=iris)

In [ ]:
# pandas box plot
iris.boxplot(by="species", figsize=(16,8))